@media (max-width: 990px) {
/*----- research-at css */
.reva-research{text-align: center;}
.reva-res-content h2 {margin-bottom: 30px;line-height: .8;letter-spacing: -3px;}
.reva-res-content p {font-size: 1.2rem;font-weight: 300;}
.reva-res-content {width: 100%;margin-bottom: 60px;}
.reva-resch-panel p{text-align:left;}
.reva-resch-panel .owl-nav {top:inherit;bottom:-20px;left: 0;right: 0;}




/*----- left-at css */


.life-at-panel {width: 92%;padding: 0px 20px;top:inherit; bottom: 30px;left: 0; right: 0; margin: auto;}
.life-at-title {margin-top: 0px; text-align: center; position: absolute;top: -100px;left: 0;right: 0;}
.life-at-text ul li a {padding: 10px 0;font-size: .7rem;}
.life-at-text p {font-size: 1rem;font-weight: 400; text-align: center;}
.life-at-title {margin-top: -40px;text-align: center;position: relative;top: -180px;left: 0;right: 0;}
.life-at-panel h2 {font-size: 3rem;line-height: .8;letter-spacing: -3px;}
.life-at-panel h3 {color: #fff;font-size: 3rem;line-height: .9;letter-spacing: -4px;margin: 0px;}
.life-at-reva { height: 700px;}
.life-at-text ul li {margin-right: 12px;}
.life-at-text { margin: 0px;}
.life-at-text .read-more {margin: 28px 0;text-align: center;}

}