
 /*----- placement-at css */
 @media (max-width: 990px) {  
 .placement-at {padding:70px 0 70px;}
 .placemnet-text-right h2 {    margin-bottom: 30px;font-size: 3rem;text-align: center;line-height: .8;letter-spacing: -3px;}
 .placemnet-text-right {text-align: center;padding-left: 0;padding-right: 0;}
 .placemnet-text-left {display: none;}
 .path-2 img {height: 100vh;object-fit:cover;}
 .path-2 {width: 100%;position: absolute;left: 0px;top: 0px;}
 }