
@import "./_font.scss";
@import "./_common.scss";
@import "./_sidemenu.scss";
@import "./_scroll.scss";
@import "./_header.scss";
@import "./_menu.scss";
@import "./_search.scss";
@import "./_humburger.scss";
@import "./_banner.scss";
@import "./_home-panel.scss";
@import "./_footer.scss";


$primary: #2096a1;
$secondary: #383B43;
$white: #EFEFEF;
$black: #000000;


